@import "tailwindcss";

/* Application */
@import "~/assets/stylesheets/theme.css";
@import "~/assets/stylesheets/animation.css";
@import "~/assets/stylesheets/spinners.css";
@import "~/assets/stylesheets/layout.css";
@import "~/assets/stylesheets/buttons.css";
@import "~/assets/stylesheets/forms.css";
@import "~/assets/stylesheets/flash.css";
@import "~/assets/stylesheets/filepond.css";

/* Tailwind CSS plugins */
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/aspect-ratio";
@plugin "@tailwindcss/container-queries";
