:root {
  --safe-area-inset-top: env(safe-area-inset-top, 0px);
  --safe-area-inset-right: env(safe-area-inset-right, 0px);
  --safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);
  --safe-area-inset-left: env(safe-area-inset-left, 0px);

  --font-family-emoji:
    Apple Color Emoji, Segoe UI Emoji, Noto Color Emoji, sans-serif;
  --font-family-cute: Single Day, Manrope, cursive;
}

.emoji {
  @mixin emoji;
}

/* == Bridge components == */

[data-bridge-components~="button"] [data-controller~="bridge--button"] {
  display: none;
}
