.container {
  --mantine-color-text: var(--mantine-color-black);

  filter: drop-shadow(
    0 calc(0.0625rem * 1) calc(0.1875rem * 1) rgba(0, 0, 0, 0.2)
  );
}

.stub {
  background-color: var(--mantine-color-white);
  mask-image: url("~/assets/images/ticket-stub.svg");
  mask-size: contain;
  padding: 20px;
  display: flex;
  align-items: stretch;
}

.card {
  display: flex;
  overflow: visible;
  padding-inline: var(--mantine-spacing-xs);
  padding-top: var(--mantine-spacing-md);
  padding-bottom: calc(var(--mantine-spacing-xs) / 2);
  background-color: var(--mantine-color-white);
  border-color: var(--mantine-color-gray-3);
}

.activityName {
  font-family: var(--mantine-font-family-headings);
  font-weight: 700;
  line-height: var(--mantine-line-height-xs);
  text-transform: uppercase;
  flex-shrink: 0;
}

.activityDescription {
  color: var(--mantine-color-gray-6);
  line-height: var(--mantine-line-height-xs);
  white-space: pre-wrap;
  flex-shrink: 0;
}

.cardBadge {
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  height: unset;
  background-color: var(--mantine-color-white);
  border-color: var(--mantine-color-gray-3);
  color: var(--mantine-color-black);
}

.emojiBadgeLabel {
  font-size: var(--mantine-font-size-md);
  padding-top: 2px;
}

.locationBadgeLabel {
  text-transform: none;
  font-weight: 500;
}
