.addButton {
  align-self: center;

  :global(.mantine-Button-section) {
    &[data-position="left"] {
      margin-right: 6px;
    }
  }
}

.emojiButton {
  border-color: light-dark(
    var(--mantine-color-gray-4),
    var(--mantine-color-dark-4)
  );

  &[data-opened] {
    background-color: var(--mantine-color-default-hover);
  }

  @mixin dark {
    background-color: transparent;
  }

  @mixin dark-user-theme {
    border-color: alpha(var(--mantine-color-white), 0.2);
  }
}

.activitiesContainer {
  margin-inline: calc(var(--mantine-spacing-md) * -1);
  background-color: light-dark(
    lighten(var(--mantine-color-body), 0.4),
    darken(var(--mantine-color-body), 0.3)
  );
  padding-block: var(--mantine-spacing-md);
}

.activitiesCarousel {
  :global(.mantine-Carousel-viewport) {
    padding-bottom: 4px;
  }

  :global(.mantine-Carousel-container) {
    margin-inline: calc((100dvw - var(--carousel-slide-size)) / 2);

    :global(.mantine-Modal-root) & {
      @mixin larger-than $mantine-breakpoint-xs {
        margin-inline: calc((var(--modal-size) - 320px) / 2);
      }
    }
  }

  :global(.mantine-Carousel-control) {
    transition: opacity 150ms ease-in-out;

    &[data-inactive] {
      opacity: 0;
      cursor: default;
    }
  }
}

.activityBadge {
  --badge-radius: var(--mantine-radius-md);
  padding-left: 4px;

  &[data-with-right-section] {
    padding-right: 1px;
  }
}
