.header {
  pointer-events: none;
}

.clickable {
  pointer-events: auto;
}

.logoButton {
  height: unset;
  padding-block: 2px;
  padding-left: 2px;
  border-radius: var(--mantine-radius-xl);
  pointer-events: auto;

  :global(.mantine-Button-label) {
    font-weight: 900;
    font-size: var(--mantine-font-size-md);
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  }

  :global(.mantine-Button-section)[data-position="left"] {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    margin-right: 4px;
  }
}

.menu {
  pointer-events: auto;
  flex-shrink: 0;
}
