.alert {
  box-shadow: var(--mantine-shadow-md);

  :global(.mantine-Alert-icon) {
    margin-right: 8px;
  }
}

.button {
  flex-shrink: 0;

  :global(.mantine-Button-section) {
    &[data-position="left"] {
      margin-right: rem(6);
    }
  }
}
