.progress {
  position: absolute;
  top: var(--safe-area-inset-top, 0px);

  [role="progressbar"] {
    box-shadow:
      0 0 10px var(--progress-section-color),
      0 0 5px var(--progress-section-color);
  }

  @mixin dark-user-theme {
    background-color: alpha(var(--mantine-color-bright), 0.2);
  }
}
