.dullButton {
  @mixin dark {
    color: var(--mantine-color-dark-2);

    @mixin hover {
      background-color: var(--mantine-color-dark-6);
    }
  }
}

.reactionBadge {
  flex-shrink: 0;
  padding-inline: 3px;

  :global(.mantine-Badge-section) {
    --font-size: var(--mantine-font-size-md);

    font-family: var(--font-family-emoji);
    font-size: var(--font-size);
    vertical-align: middle;

    @mixin safari-only {
      font-size: calc(var(--font-size) * 0.8);
    }
  }
}

.statsIcon {
  color: var(--mantine-color-dimmed);
  margin-right: 3px;
  font-size: 12px;
}

.statsList {
  --list-lh: 1;
  --list-spacing: 4px;

  :global(.mantine-List-item) {
    --li-align: top;
    font-size: var(--mantine-font-size-xs);
  }

  :global(.mantine-List-itemIcon) {
    font-size: 11px;
    margin-inline-end: 8px;
    color: light-dark(
      var(--mantine-color-primary-filled),
      var(--mantine-color-white)
    );
  }
}
