.dullButton {
  @mixin dark {
    color: var(--mantine-color-dark-2);

    @mixin hover {
      background-color: var(--mantine-color-dark-6);
    }
  }
}

.notifiedBadge {
  flex-shrink: 0;
  color: var(--mantine-color-dimmed);

  :global(.mantine-Badge-section) {
    &[data-position="left"] {
      font-size: 10px;
    }
  }

  :global(.mantine-Badge-label) {
    text-transform: none;
    font-weight: 500;
  }
}

.reactionBadge {
  padding-inline: 3px;

  :global(.mantine-Badge-section) {
    font-size: var(--mantine-font-size-sm);
  }
}

.reactionBadgeWithoutCounts {
  padding-inline: 1px;

  :global(.mantine-Badge-label) {
    font-size: var(--mantine-font-size-sm);
  }
}
