.emojiButton {
  border-color: light-dark(
    var(--mantine-color-gray-4),
    var(--mantine-color-dark-4)
  );

  &[data-opened] {
    background-color: var(--mantine-color-default-hover);
  }

  @mixin dark {
    background-color: transparent;
  }

  @mixin dark-user-theme {
    border-color: alpha(var(--mantine-color-white), 0.2);
  }
}
