.content {
  background-color: var(--mantine-color-body);
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  outline: none;
  display: flex;
  flex-direction: column;
  z-index: 190;
  max-height: 80%;

  /* Enforce minimum lightness of 75% for light user themes */
  @mixin light-user-theme {
    --min-lightness: 75;

    background-color: hsl(
      from var(--mantine-color-body) h s clamp(var(--min-lightness), l, 100)
    );

    /* Use @supports to add in support for old syntax that requires % units to
        be specified in lightness calculations. This is required for
        Safari >= 16.4+ and < 18.0 */
    @supports (color: hsl(from red h s calc(l - 20%))) {
      background-color: hsl(
        from var(--mantine-color-body) h s
          clamp(calc(var(--min-lightness) * 1%), l, 100%)
      );
    }
  }
}

.header {
  display: flex;
  align-items: center;
  padding: var(--mb-padding, var(--mantine-spacing-md));
  padding-inline-end: calc(
    var(--mb-padding, var(--mantine-spacing-md)) -
      calc(0.3125rem * var(--mantine-scale))
  );
  padding-bottom: var(--mantine-spacing-xs);
  position: sticky;
  top: 0;
  background-color: var(--mantine-color-body);
  z-index: 195;
  transition: padding-inline-end 0.1s;

  &[data-with-title] {
    justify-content: space-between;
  }

  &:not([data-with-title]) {
    justify-content: flex-end;
  }

  /* Enforce minimum lightness of 75% for light user themes */
  @mixin light-user-theme {
    --min-lightness: 75;

    background-color: hsl(
      from var(--mantine-color-body) h s clamp(var(--min-lightness), l, 100)
    );

    /* Use @supports to add in support for old syntax that requires % units to
        be specified in lightness calculations. This is required for
        Safari >= 16.4+ and < 18.0 */
    @supports (color: hsl(from red h s calc(l - 20%))) {
      background-color: hsl(
        from var(--mantine-color-body) h s
          clamp(calc(var(--min-lightness) * 1%), l, 100%)
      );
    }
  }
}

.viewport {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.body {
  padding-inline: var(--mantine-spacing-md);
  padding-bottom: calc(
    var(--mantine-spacing-md) + var(--safe-area-inset-bottom, 0px)
  );
}
