.content {
  --bg: var(--mantine-color-body);

  background-color: var(--bg);
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  outline: none;
  display: flex;
  flex-direction: column;
  z-index: 190;
  max-height: 80%;

  @mixin light-user-theme {
    @mixin clamp-lightness background-color, var(--bg), 75, 100;
  }
}

.header {
  display: flex;
  align-items: center;
  padding: var(--mb-padding, var(--mantine-spacing-md));
  padding-inline-end: calc(
    var(--mb-padding, var(--mantine-spacing-md)) -
      calc(0.3125rem * var(--mantine-scale))
  );
  padding-bottom: var(--mantine-spacing-xs);
  position: sticky;
  top: 0;
  z-index: 195;
  transition: padding-inline-end 0.1s;

  --bg: var(--mantine-color-body);
  background-color: var(--bg);
  @mixin light-user-theme {
    @mixin clamp-lightness background-color, var(--bg), 75, 100;
  }

  &[data-with-title] {
    justify-content: space-between;
  }

  &:not([data-with-title]) {
    justify-content: flex-end;
  }
}

.viewport {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.body {
  padding-inline: var(--mantine-spacing-md);
  padding-bottom: calc(
    var(--mantine-spacing-md) + var(--safe-area-inset-bottom, 0px)
  );
}
