.emojiButton {
  border-color: light-dark(
    var(--mantine-color-gray-4),
    var(--mantine-color-dark-4)
  );

  @mixin dark {
    background-color: transparent;
  }

  @mixin dark-user-theme {
    border-color: alpha(var(--mantine-color-white), 0.2);
  }

  &[data-opened] {
    background-color: var(--mantine-color-default-hover);
  }
}

.emoji {
  --font-size: var(--mantine-font-size-xl);

  font-family: var(--font-family-emoji);
  font-size: var(--font-size);
  vertical-align: middle;

  @mixin safari-only {
    font-size: calc(var(--font-size) * 0.8);
  }
}
