.emojiButton {
  border-color: light-dark(
    var(--mantine-color-gray-4),
    var(--mantine-color-dark-4)
  );

  @mixin dark {
    background-color: transparent;
  }

  @mixin dark-world-theme {
    border-color: alpha(var(--mantine-color-white), 0.2);
  }

  &[data-opened] {
    background-color: var(--mantine-color-default-hover);
  }
}

.emoji {
  @mixin emoji;

  font-size: var(--mantine-font-size-xl);
}
