.addButton {
  align-self: center;

  :global(.mantine-Button-section) {
    &[data-position="left"] {
      margin-right: calc(var(--mantine-spacing-xs) / 2);
    }
  }
}

.emojiButton {
  border-color: light-dark(
    var(--mantine-color-gray-4),
    var(--mantine-color-dark-4)
  );

  &[data-opened] {
    background-color: var(--mantine-color-default-hover);
  }

  @mixin dark {
    background-color: transparent;
  }

  @mixin dark-world-theme {
    border-color: alpha(var(--mantine-color-white), 0.2);
  }
}

.emoji {
  @mixin emoji;
  font-size: var(--mantine-font-size-xl);
}

.activityBadge {
  --badge-radius: var(--mantine-radius-md);
  padding-left: 4px;

  &[data-with-right-section] {
    padding-right: 1px;
  }
}
