.picker {
  background-color: transparent !important;
  border: none !important;

  :global(.epr-header) {
    > :first-of-type {
      padding-bottom: 8px;
    }
  }

  :global(.epr-search-container) input {
    font-size: var(--mantine-font-size-md);
    font-family: var(--mantine-font-family);
    background-color: light-dark(var(--mantine-color-white), transparent);
    border-radius: var(--mantine-radius-default);
    border-color: light-dark(
      var(--mantine-color-gray-4),
      var(--mantine-color-dark-4)
    );

    &::placeholder {
      text-transform: lowercase;
    }

    &:focus {
      border-color: var(--mantine-color-primary-outline);
    }

    &:not(:focus) {
      @mixin dark-user-theme {
        border-color: alpha(var(--mantine-color-white), 0.2);
      }
    }
  }

  :global(.epr-category-nav) {
    padding-block: 2px;
  }

  :global(.epr-emoji-category) {
    margin-bottom: 6px;
  }

  :global(.epr-emoji-category-label) {
    text-transform: lowercase;
    height: unset;
    padding-block: 4px;
    color: var(--mantine-color-bright);
    font-size: var(--mantine-font-size-xs);
    font-family: var(--mantine-font-family);
    backdrop-filter: none;
    background-color: transparent;
  }

  :global(.epr-emoji-category-content) {
    --epr-emoji-gap: 2px;
    --epr-emoji-size: 24px;
    --epr-emoji-padding: 4px;
    --epr-emoji-fullsize: calc(
      var(--epr-emoji-size) + var(--epr-emoji-padding) * 2
    );
  }

  :global(.epr-body) {
    overflow-y: auto;
  }
}
