.card {
  overflow: visible;
  background-color: light-dark(
    alpha(var(--mantine-color-white), 0.7),
    alpha(var(--mantine-color-black), 0.2)
  );

  &::before {
    position: absolute;
    inset: 0;
    z-index: -1;
    content: "";
    backdrop-filter: blur(light-dark(rem(4px), rem(8px)));
    border-radius: var(--paper-radius);
  }

  &[data-with-border] {
    border-style: dashed;
  }
}

.presetButton {
  border-style: dashed;

  @mixin light {
    border-color: var(--mantine-color-primary-4);
  }

  :global(.mantine-ActionIcon-icon) {
    font-size: var(--mantine-font-size-lg);
  }
}
