.button {
  height: unset;
  padding-block: var(--mantine-spacing-md);

  &[data-variant="default"] {
    :global(.mantine-Button-section)[data-position="left"] {
      color: light-dark(
        var(--mantine-color-primary-filled),
        var(--mantine-color-primary-outline)
      );
    }
  }
}

.modalContent {
  display: flex;
  flex-direction: column;
}

.modalBody {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cannyContainer {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;

  :global(#canny-iframe) {
    height: unset !important;
    flex: 1;
  }

  :global(#canny-scroll-element) {
    display: none;
  }
}
