.button {
  height: unset;
  padding-block: var(--mantine-spacing-md);

  &[data-variant="default"] {
    :global(.mantine-Button-section)[data-position="left"] {
      color: light-dark(
        var(--mantine-primary-color-filled),
        var(--mantine-primary-color-outline)
      );
    }
  }
}

.cannyContainer {
  :global(#canny-scroll-element) {
    display: none;
  }
}

.supportButton {
  --gradient-from: #f48c8c;
  --gradient-to: #c6f871;

  @mixin light {
    color: var(--mantine-color-black);
  }

  @mixin dark {
    @mixin clamp-lightness --gradient-from, #f48c8c, 20, 40;
    @mixin clamp-lightness --gradient-to, #c6f871, 20, 30;
  }
}
