.button {
  height: unset;
  padding-block: var(--mantine-spacing-md);

  &[data-variant="default"] {
    :global(.mantine-Button-section)[data-position="left"] {
      color: light-dark(
        var(--mantine-primary-color-filled),
        var(--mantine-primary-color-outline)
      );
    }
  }
}

.cannyContainer {
  :global(#canny-scroll-element) {
    display: none;
  }
}
