.group {
  :global(.mantine-Button-section) {
    &[data-position="left"] {
      margin-right: 6px;
    }
  }
}

.emojiButton {
  border-color: light-dark(
    var(--mantine-color-gray-4),
    var(--mantine-color-dark-4)
  );

  @mixin dark {
    background-color: transparent;
  }
}

.notifiableBadge {
  :global(.mantine-Badge-label) {
    text-transform: none;
  }
}
