.newReactionButton {
  flex-shrink: 0;

  &[data-opened] {
    background-color: var(--mantine-color-primary-light-hover);
  }
}

.reactionButton {
  padding-inline: 4px;

  :global(.mantine-Button-section) {
    font-size: var(--mantine-font-size-md);
  }
}

.repliersCount {
  color: light-dark(var(--mantine-color-white), var(--mantine-color-black));
  position: absolute;
  inset: 0;
  font-family: var(--mantine-font-family-headings);
  padding-bottom: 1.5px;
}

.replyButton {
  flex-shrink: 0;
  -webkit-touch-callout: none;

  &[data-replied] {
    color: var(--mantine-color-dimmed);
  }
}

.messagingPlatformSelectorHint {
  text-align: center;
  color: var(--mantine-color-dimmed);

  @mixin where-dark-user-theme {
    color: var(--mantine-color-dark-0);
  }
}
