.newReactionButton {
  flex-shrink: 0;

  &[data-opened] {
    background-color: var(--mantine-color-primary-light-hover);
  }
}

.reactionButton {
  padding-inline: 4px;

  :global(.mantine-Button-section) {
    font-size: var(--mantine-font-size-md);
  }
}

.replyButton {
  flex-shrink: 0;
  -webkit-touch-callout: none;

  &[data-replied] {
    color: var(--mantine-color-dimmed);
  }
}
