.container {
  --hp-icon-size: 48px;
  --hp-x-offset: 64px;

  border-radius: var(--hp-radius, var(--mantine-radius-default));
  overflow: hidden;
}

.homeScreen {
  height: 90px;
  width: unset;
  object-fit: cover;
  object-position: left center;
}

.appIcon {
  background-color: var(--mantine-color-white);
  position: absolute;
  top: 16px;
  left: calc(23px + var(--hp-x-offset));
  width: var(--hp-icon-size);
  height: var(--hp-icon-size);
  object-fit: cover;
  border-radius: calc(var(--hp-icon-size) / var(--hp-icon-radius-ratio));
}

.appLabel {
  --label-margin: 4px;

  position: absolute;
  top: 67px;
  left: calc(23px + var(--hp-x-offset));
  text-align: center;
  font-size: 8.5px;
  width: calc(var(--hp-icon-size) + var(--label-margin) * 2);
  margin-left: calc(var(--label-margin) * -1);
  color: var(--mantine-color-white);
  font-weight: 600;
  overflow-x: clip;
  white-space: nowrap;
}

.yourPageLabel {
  position: absolute;
  top: 28px;
  left: 196px;
  font-size: 20px;
  font-weight: 900;
  color: var(--mantine-color-white);
  font-family: "Single Day", cursive;
}
