.previewImage {
  width: 100%;
  height: 100%;
  border-radius: calc(var(--dropzone-radius) * 0.85);

  &:not([src]) {
    visibility: hidden;
  }
}

.dropzone {
  @mixin dark-user-theme {
    border-color: alpha(var(--mantine-color-white), 0.2);

    &:not([data-with-src]) {
      background-color: alpha(var(--mantine-color-black), 0.2);
    }

    &:not([data-loading]) {
      @mixin hover {
        background-color: alpha(var(--mantine-color-dark-5), 0.5);
      }
    }
  }

  &[data-with-src] {
    background-color: transparent;

    > :global(.mantine-Dropzone-inner) {
      opacity: 0;
    }

    &:not([data-loading]) {
      @mixin hover {
        background-color: alpha(
          light-dark(var(--mantine-color-black), var(--mantine-color-dark-5)),
          0.5
        );
        > :global(.mantine-Dropzone-inner) {
          opacity: 1;
        }
      }
    }
  }

  &[data-hide-overlay] {
    background-color: transparent !important;

    > :global(.mantine-Dropzone-inner) {
      opacity: 0 !important;
    }
  }

  &[data-disabled] {
    --_dropzone-bg: var(--mantine-color-gray-1);
    cursor: not-allowed;
    .dropzoneIcon {
      color: var(--mantine-color-gray-6);
    }
  }

  > :global(.mantine-Dropzone-inner) {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 150ms ease;
  }

  > :global(.mantine-LoadingOverlay-root) {
    border-radius: var(--dropzone-radius);
  }
}

.dropzoneIcon {
  color: var(--mantine-color-primary-light-color);
}

.removeButton {
  position: absolute;
  top: -7px;
  right: -7px;
}
