.modal {
  :global(.mantine-Modal-header) {
    line-height: var(--mantine-line-height-xs);
  }
}

.stepBadge {
  :global(.mantine-Badge-section) {
    font-family: var(--mantine-font-family-headings);
  }

  :global(.mantine-Badge-label) {
    text-transform: none;
  }
}

.stepImage {
  border-radius: var(--mantine-radius-md);
  max-width: 300px;
}
