.timestamp {
  color: var(--mantine-color-dimmed);
  text-transform: lowercase;
  font-weight: 500;
  font-family: var(--mantine-font-family-headings);
}

.list {
  :global(.mantine-List-itemIcon) {
    display: flex;
    align-items: center;
  }
}
