.fromJoinRequestArrow {
  width: 60px;
  margin-left: -20px;
  transform: rotate(-90deg);

  @mixin dark {
    filter: invert(1);
  }
}

.divider {
  margin-top: 6px;
  margin-inline: calc(var(--mantine-spacing-md) * -1);

  @mixin light-world-theme {
    border-color: alpha(var(--mantine-color-dimmed), 0.4);
  }
}
