.menuItemSection {
  color: var(--mantine-color-primary-outline);
}

.menuItemLabel {
  font-family: var(--mantine-font-family-headings);
  font-weight: 500;
}

.button {
  pointer-events: auto;
  box-shadow: var(--mantine-shadow-lg);

  &[data-expanded] {
    background-color: var(--mantine-color-primary-filled-hover);
  }
}

.emojiButton {
  border-color: light-dark(
    var(--mantine-color-gray-4),
    var(--mantine-color-dark-4)
  );

  @mixin dark {
    background-color: transparent;
  }
}
