.card {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.group {
  :global(.mantine-Button-section) {
    &[data-position="left"] {
      margin-right: 6px;
    }
  }
}

.badge {
  :global(.mantine-Badge-label) {
    text-transform: none;
  }
}

.activityBadge {
  padding-inline: 4px;
  --badge-radius: var(--mantine-radius-md);
}

.activityCouponButton {
  --button-radius: var(--mantine-radius-md);

  color: light-dark(
    var(--mantine-color-gray-filled),
    alpha(var(--mantine-color-white), 0.5)
  );
}
