.button {
  flex-shrink: 0;
  padding-inline: 4px;

  :global(.mantine-Button-section)[data-position="left"] {
    @mixin emoji;
    font-size: var(--mantine-font-size-lg);
  }

  @mixin hover {
    background-color: initial;
  }

  &:active {
    transform: none;
  }
}
