.chip {
  &[data-unnotifiable] {
    :global(.mantine-Chip-label) {
      opacity: 0.7;
      border-style: dashed;
    }
  }
}

.content {
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
  max-height: min(440px, 50dvh);
  overflow-y: auto;
}
