.card {
  overflow: visible;

  &[data-focus] {
    border-color: var(--mantine-color-primary-outline);
  }

  &[data-post-visibility="only_me"] {
    background-color: light-dark(
      alpha(var(--mantine-color-white), 0.2),
      alpha(var(--mantine-color-black), 0.1)
    );

    &::before {
      position: absolute;
      inset: 0;
      z-index: -1;
      content: "";

      /* Blur backdrop */
      --blur-radius: light-dark(rem(8px), rem(12px));
      backdrop-filter: blur(var(--blur-radius));
      -webkit-backdrop-filter: blur(var(--blur-radius));
    }

    &[data-with-border] {
      border-style: dashed;
    }
  }
}

.divider {
  display: block;
  flex-shrink: 0;
  margin-top: 2px;
  color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-3));
}

.footerSection {
  :global(.mantine-Button-section) {
    &[data-position="left"] {
      margin-right: 4px;
    }
  }
}

.timestamp {
  color: var(--mantine-color-dimmed);
  text-transform: lowercase;
  font-size: var(--mantine-font-size-xs);
  font-weight: 500;
  font-family: var(--mantine-font-family-headings);

  &[data-pinned] {
    color: alpha(var(--mantine-color-primary-light-color), 0.8);
  }
}

.contentSection {
  position: relative;

  &[data-blur-content] {
    min-height: 72px;
    margin-block: -4px;
    padding-block: 4px;
  }
}

.restrictedAlert {
  padding: 8px 12px;
  border-radius: var(--mantine-radius-xl);

  @mixin dark {
    --alert-color: var(--mantine-color-dark-1) !important;
    --alert-bd: rem(1px) solid var(--mantine-color-dark-2) !important;
    --alert-bg: alpha(var(--mantine-color-black), 0.4) !important;
  }

  @mixin light {
    --alert-bg: alpha(var(--mantine-color-white), 0.4) !important;
    --alert-color: darken(var(--mantine-color-gray-6), 0.2) !important;
  }

  :global(.mantine-Alert-body) {
    justify-content: center;
  }

  :global(.mantine-Alert-label) {
    font-weight: 600;
  }
}

.image {
  cursor: pointer;
  margin-top: 4px;
  margin-bottom: 6px;

  &[data-blur] {
    --blur-radius: rem(4px);
    filter: blur(var(--blur-radius));
    -webkit-filter: blur(var(--blur-radius));

    border-bottom: 4px solid white;
  }
}

.typeGroup {
  cursor: pointer;
  color: var(--mantine-color-dimmed);
  transition-property: color, opacity;
  transition-timing-function: ease;
  transition-duration: 150ms;

  @mixin hover {
    opacity: 0.8;
  }

  &[data-highlight] {
    color: var(--mantine-color-primary-light-color);
  }
}
