.editor {
  border-radius: var(--editor-radius, var(--mantine-radius-default));
}

.content {
  background-color: var(--mantine-color-white);
  border-radius: var(--editor-radius, var(--mantine-radius-default));
  overflow: hidden;

  > [contenteditable="true"] {
    min-height: var(--editor-content-editable-min-height, 144px);
    padding-inline: var(--mantine-spacing-sm);
    padding-block: var(--mantine-spacing-xs);
  }
}
