.editor {
  border-radius: var(--editor-radius, var(--mantine-radius-default));
}

.content {
  border-radius: var(--editor-radius, var(--mantine-radius-default));
}

.contentEditable {
  min-height: var(--editor-content-editable-min-height, 144px);
  padding-inline: var(--mantine-spacing-sm);
  padding-block: var(--mantine-spacing-xs);
}

.controlsGroup {
  background-color: transparent;
}
