.emojiButton {
  border-color: light-dark(
    var(--mantine-color-gray-4),
    var(--mantine-color-dark-4)
  );

  @mixin dark {
    background-color: transparent;
  }

  @mixin dark-user-theme {
    border-color: alpha(var(--mantine-color-white), 0.2);
  }

  &[data-opened] {
    background-color: var(--mantine-color-default-hover);
  }
}

.emoji {
  --font-size: var(--mantine-font-size-xl);

  font-family: var(--font-family-emoji);
  font-size: var(--font-size);
  vertical-align: middle;

  @mixin safari-only {
    font-size: calc(var(--font-size) * 0.8);
  }
}

.visibilitySegmentedControl {
  border: rem(1px) solid
    light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-4));

  @mixin dark-user-theme {
    background-color: transparent;
    border: rem(1px) solid alpha(var(--mantine-color-white), 0.2);

    :global(.mantine-SegmentedControl-indicator) {
      background-color: var(--mantine-color-white);
    }

    :global(.mantine-SegmentedControl-label)[data-active] {
      color: var(--mantine-color-body);
    }
  }
}

.dateInput {
  :global(.mantine-DateInput-input) {
    text-transform: lowercase;
  }
}

.dateInputDay {
  &[data-weekend] {
    color: var(--mantine-color-text);
  }
}

.imagesScrollArea {
  :global(.mantine-ScrollArea-content) {
    padding-top: 4px;
    padding-bottom: var(--mantine-spacing-xs);
  }

  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    gap: var(--mantine-spacing-xs);
  }
}
