.emojiButton {
  border-color: light-dark(
    var(--mantine-color-gray-4),
    var(--mantine-color-dark-4)
  );

  @mixin where-dark {
    background-color: transparent;
  }

  @mixin where-dark-user-theme {
    border-color: alpha(var(--mantine-color-white), 0.2);
  }

  &[data-opened] {
    background-color: var(--mantine-color-default-hover);
  }
}

.visibilitySegmentedControl {
  border: rem(1px) solid
    light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-4));

  @mixin where-dark-user-theme {
    background-color: transparent;
    border: rem(1px) solid alpha(var(--mantine-color-white), 0.2);

    :global(.mantine-SegmentedControl-indicator) {
      background-color: var(--mantine-color-white);
    }

    :global(.mantine-SegmentedControl-label)[data-active] {
      color: var(--mantine-color-body);
    }
  }
}

.dateInput {
  flex-grow: 1;
  max-width: 190px;

  :global(.mantine-DateInput-input) {
    text-transform: lowercase;
  }
}
