.card {
  overflow: visible;

  &[data-focus] {
    border-color: var(--mantine-primary-color-outline);
  }

  &[data-post-visibility="secret"] {
    @mixin light {
      background-color: alpha(var(--mantine-color-gray-5), 0.2);
      --paper-border-color: var(--mantine-color-gray-4);
    }

    @mixin dark {
      background-color: alpha(var(--mantine-color-black), 0.2);
    }

    @mixin light-user-theme {
      background-color: alpha(var(--mantine-color-white), 0.5);
    }

    @mixin dark-user-theme {
      background-color: alpha(var(--mantine-color-body), 0.5);
    }

    &::before {
      position: absolute;
      inset: 0;
      z-index: -1;
      content: "";
      backdrop-filter: blur(rem(8px));
    }

    &[data-with-border] {
      border-style: dashed;
    }
  }
}

.emoji {
  @mixin emoji;
  font-size: var(--mantine-font-size-lg);
}

.actionSeparator {
  display: block;
  margin-inline: -1px;
  line-height: 1;
  font-size: var(--mantine-font-size-lg);
  flex-shrink: 0;
  color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-3));
}

.footerSection {
  :global(.mantine-Button-section) {
    &[data-position="left"] {
      margin-right: 4px;
    }
  }
}

.timestamp {
  color: var(--mantine-color-dimmed);
  text-transform: lowercase;
  font-size: var(--mantine-font-size-xs);
  font-weight: 500;
  font-family: var(--mantine-font-family-headings);

  &[data-pinned] {
    color: alpha(var(--mantine-primary-color-light-color), 0.8);
  }
}

.contentSection {
  position: relative;

  &[data-blur-content] {
    min-height: 72px;
    margin-block: -4px;
    padding-block: 4px;
  }
}

.restrictedAlert {
  padding: 8px 12px;
  border-radius: var(--mantine-radius-xl);

  @mixin dark {
    --alert-color: var(--mantine-color-dark-1) !important;
    --alert-bd: rem(1px) solid var(--mantine-color-dark-2) !important;
    --alert-bg: alpha(var(--mantine-color-black), 0.4) !important;
  }

  @mixin light {
    --alert-bg: alpha(var(--mantine-color-white), 0.4) !important;
    --alert-color: darken(var(--mantine-color-gray-6), 0.2) !important;
  }

  :global(.mantine-Alert-body) {
    justify-content: center;
  }

  :global(.mantine-Alert-label) {
    font-weight: 600;
  }
}

.image {
  cursor: pointer;
  margin-top: 4px;
  margin-bottom: 6px;

  &[data-blur] {
    border-bottom: 4px solid white;
    filter: blur(rem(4px));
  }
}

.typeGroup {
  cursor: pointer;
  color: var(--mantine-color-dimmed);
  transition-property: color, opacity;
  transition-timing-function: ease;
  transition-duration: 150ms;

  &[data-interactive] {
    @mixin hover {
      opacity: 0.8;
    }
  }

  &[data-highlight] {
    color: var(--mantine-primary-color-light-color);
  }
}

.typeIcon {
  font-size: 11px;
  vertical-align: middle;
}

.typeLabel {
  font-family: var(--mantine-font-family-headings);
  font-weight: 600;
}

.encouragementBadge {
  height: unset;
  align-self: center;
  padding-block: 3px;
  margin-inline: var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-default);
  border-style: dashed;
  max-width: 400px;
  background-color: alpha(
    light-dark(var(--mantine-color-gray-0), var(--mantine-color-black))
  );

  :global(.mantine-Badge-label) {
    white-space: pre-wrap;
    line-height: 1.2;
    padding-block: 3px;
    text-align: start;
    text-wrap: pretty;
    font-family: var(--mantine-font-family-body);
    font-weight: 500;
    font-style: italic;
  }

  :global(.mantine-Badge-section)[data-position="left"] {
    font-family: var(--font-family-emoji);
    align-self: flex-start;
    margin-top: 1px;
    margin-right: 8px;
  }

  @mixin user-theme {
    backdrop-filter: blur(rem(8px));
  }

  @mixin light-user-theme {
    background-color: alpha(var(--mantine-color-white), 0.4);
  }

  @mixin dark-user-theme {
    background-color: alpha(var(--mantine-color-black), 0.3);
    border-color: alpha(var(--mantine-color-default-border), 0.5);
  }
}

.spoilerControl {
  left: 0;
  right: 0;

  @mixin hover {
    .showMoreButton {
      background-color: var(--button-hover);
    }
  }
}

.spoiler:not([data-expanded]) > .spoilerControl + .spoilerContent {
  mask: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0,
    rgba(0, 0, 0, 1) 80%,
    transparent 100%
  );
}

.showMoreButton {
  :global(.mantine-Button-section)[data-position="left"] {
    margin-right: 4px;
  }
}
