.modal {
  :global(.mantine-Modal-content) {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    pointer-events: none;
  }

  :global(.mantine-Modal-header) {
    background-color: transparent;
  }

  :global(.mantine-Modal-body) {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }

  :global(.mantine-Modal-close) {
    @mixin light {
      color: var(--mantine-color-white);

      @mixin hover {
        color: var(--mantine-color-gray-7);
      }
    }
  }
}
