.affix {
  --affix-inset: var(--mantine-spacing-md);
  --affix-bottom: calc(
    var(--mantine-spacing-xs) + var(--app-shell-footer-height, 0px) +
      var(--safe-area-inset-bottom, 0px)
  );
  --affix-left: var(--affix-inset);
  --affix-right: var(--affix-inset);

  pointer-events: none;
}

.space {
  height: calc(rem(72px) + var(--safe-area-inset-bottom, 0px));
}

.menuDropdown {
  pointer-events: auto;

  @mixin dark-world-theme {
    background-color: alpha(var(--mantine-color-black), 0.7);
    backdrop-filter: blur(rem(4px));
  }
}

.menuItemSection {
  color: var(--mantine-color-primary-outline);
}

.menuItemLabel {
  font-family: var(--mantine-font-family-headings);
  font-weight: 500;
}

.menuItemDraftIcon {
  font-size: var(--mantine-font-size-md);
  color: light-dark(
    var(--mantine-color-primary-filled),
    var(--mantine-color-white)
  );
}

.menuButton {
  pointer-events: auto;
  box-shadow: var(--mantine-shadow-lg);

  &[data-expanded] {
    background-color: var(--mantine-color-primary-filled-hover);
  }
}

.pinnedPostsButton {
  pointer-events: auto;
  box-shadow: var(--mantine-shadow-lg);
  overflow: visible;
  background-color: var(--mantine-color-white);
  color: var(--mantine-color-primary-filled);
  border-color: var(--mantine-color-primary-filled);

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-1),
      var(--mantine-color-gray-3)
    );
  }

  :global(.mantine-ActionIcon-icon) {
    font-size: var(--mantine-font-size-lg);
  }
}

.pinnedPostsIndicator {
  :global(.mantine-Indicator-indicator) {
    font-weight: 600;
    font-family: var(--mantine-font-family-headings);
    min-height: var(--indicator-size);
    padding-inline: 0px;
    box-shadow: var(--mantine-shadow-sm);
  }
}

.newPostDraftIndicator {
  :global(.mantine-Indicator-indicator) {
    min-height: var(--indicator-size);
    padding-inline: 0px;
    font-size: 12px;
    color: var(--mantine-color-primary-filled);
    box-shadow: var(--mantine-shadow-sm);
  }
}
