.toast {
  pointer-events: auto;
  align-items: start;
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-default);

  @mixin where-dark {
    background-color: var(--mantine-color-dark-8);
    border-color: var(--mantine-color-dark-6);
  }

  [data-icon] {
    margin-top: 3px;

    @mixin where-dark {
      color: var(--mantine-color-white);
    }
  }

  [data-content] {
    flex-grow: 1;

    & + button {
      align-self: center;
    }
  }

  [data-title],
  [data-description] {
    font-family: var(--mantine-font-family);
    line-height: var(--mantine-line-height-xs);
  }

  [data-title] {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-size: var(--mantine-font-size-sm);
  }

  [data-description] {
    color: alpha(var(--mantine-color-text), 0.75);
    font-size: var(--mantine-font-size-sm);
  }

  &[data-y-position="bottom"] {
    bottom: var(--safe-area-inset-bottom, 0px);
  }

  &[data-y-position="top"] {
    top: var(--safe-area-inset-top, 0px);
  }
}
