.card {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.group {
  :global(.mantine-Button-section) {
    &[data-position="left"] {
      margin-right: calc(var(--mantine-spacing-xs) / 2);
    }
  }
}

.statusBadge {
  :global(.mantine-Badge-label) {
    text-transform: none;
  }
}

/* .activityBadge {
  padding-inline: 4px;
  background-color: transparent;
  --badge-radius: var(--mantine-radius-md);

  :global(.mantine-Badge-section)[data-position="left"] {
    @mixin emoji;

    font-size: var(--mantine-font-size-xs);
  }
}

.activityCouponButton {
  --button-radius: var(--mantine-radius-md);

  :global(.mantine-Button-section)[data-position="left"] {
    margin-right: calc(var(--mantine-spacing-xs) / 2);
  }
} */

.friendNotifiabilityEmoji {
  @mixin emoji;

  margin-left: 2px;
}

.friendNotifiabilityButtonEmoji {
  @mixin emoji;

  margin-left: 4px;
}
