.alert {
  box-shadow: var(--mantine-shadow-md);
  max-width: var(--modal-size-md);
  margin-inline: auto;

  :global(.mantine-Alert-icon) {
    margin-right: 8px;
  }
}

.button {
  flex-shrink: 0;

  :global(.mantine-Button-section) {
    &[data-position="left"] {
      margin-right: rem(6);
    }
  }
}

.notSupportedText {
  font-size: var(--mantine-font-size-xs);
  opacity: 0.6;
  line-height: 1.2;
  min-width: 0px;
  flex-grow: 1;
}
