.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-top: 1px solid var(--mantine-color-default-border);

  > * {
    width: unset;
  }

  @mixin dark-user-theme {
    border-color: alpha(var(--mantine-color-white), 0.2);
  }
}

.linkItem {
  cursor: pointer;
  height: unset;

  &:not([data-active]) {
    border-color: alpha(
      light-dark(var(--mantine-color-black), var(--mantine-color-white)),
      0.5
    );
    color: var(--mantine-color-text);

    @mixin hover {
      background-color: var(--mantine-color-primary-light);
    }
  }
}

.localUniverseNavLink {
  :global(.mantine-NavLink-section[data-position="left"]) {
    font-family: var(--font-family-emoji);
  }
}
