.footer {
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: transparent;
}

.segmentedControl {
  box-shadow: var(--mantine-shadow-xl);
  background-color: light-dark(
    var(--mantine-color-gray-2),
    var(--mantine-color-dark-9)
  );

  @mixin light-user-theme {
    @mixin clamp-lightness --sc-color, var(--user-theme-background-color), 60,
      75;
    background-color: lighten(var(--mantine-color-body), 0.5);
  }

  @mixin dark-user-theme {
    @mixin clamp-lightness --sc-color, var(--user-theme-background-color), 40,
      65;
    background-color: darken(var(--mantine-color-body), 0.3);
  }

  :global(.mantine-SegmentedControl-label) {
    font-weight: 600;
  }
}
