.card {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.emoji {
  @mixin emoji;
  font-size: var(--mantine-font-size-md);
}

.group {
  :global(.mantine-Button-section) {
    &[data-position="left"] {
      margin-right: 6px;
    }
  }
}

.badge {
  :global(.mantine-Badge-label) {
    text-transform: none;
  }
}

.activityBadge {
  padding-inline: 4px;
  background-color: transparent;
  --badge-radius: var(--mantine-radius-md);

  :global(.mantine-Badge-section)[data-position="left"] {
    @mixin emoji;
    font-size: var(--mantine-font-size-xs);
  }
}

.activityCouponButton {
  --button-radius: var(--mantine-radius-md);

  :global(.mantine-Button-section)[data-position="left"] {
    margin-right: 6px;
  }
}

.detailsButton {
  :global(.mantine-Button-section)[data-position="left"] {
    margin-right: 6px;
  }
}
