.card {
  padding: 0;
  box-shadow: var(--mantine-shadow-lg);
  overflow: visible;
}

.scrollArea {
  :global(.mantine-ScrollArea-viewport) {
    padding-block: 4px;
    /* padding-right: 24px; */
  }
}

.calendar {
  padding-inline: 8px;

  :global(.mantine-MiniCalendar-control) {
    display: none;
  }

  :global(.mantine-MiniCalendar-day) {
    border-radius: var(--mantine-radius-md);
    position: relative;
    padding-block: 6px;
    padding-inline: 4px;

    &[disabled] {
      background-color: transparent;
      cursor: default;
    }

    &:not([disabled]):not([data-selected]) {
      @mixin dark-user-theme {
        @mixin hover {
          background-color: var(--mantine-color-primary-light);
        }
      }
    }

    &[data-emoji] {
      flex-direction: row;
      column-gap: 2px;
      align-items: start;

      :global(.mantine-MiniCalendar-dayNumber) {
        font-size: 0.75em;
      }

      &::after {
        @mixin emoji;

        position: absolute;
        left: 0;
        right: 0;
        bottom: 2px;
        content: attr(data-emoji);
        font-size: var(--mantine-font-size-lg);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.postStreakBadge {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin-inline: auto;

  &[data-clickable] {
    cursor: pointer;

    @mixin hover {
      background-color: var(--mantine-color-primary-filled-hover);
    }
  }

  :global(.mantine-Badge-label) {
    font-weight: 500;
  }

  :global(.mantine-Badge-section)[data-position="left"] {
    @mixin emoji;
  }
}
