.footer {
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: transparent;
}

.segmentedControl {
  box-shadow: var(--mantine-shadow-xl);

  @mixin light {
    background-color: var(--mantine-color-gray-2);
  }

  @mixin dark {
    background-color: var(--mantine-color-dark-9);
  }

  @mixin light-user-theme {
    @mixin clamp-lightness background-color, var(--mantine-color-body), 75, 100;
  }

  @mixin dark-user-theme {
    background-color: alpha(var(--mantine-color-black), 0.7);
    backdrop-filter: blur(rem(8px));

    @mixin clamp-lightness --sc-color, var(--mantine-color-body), 35, 60;
  }

  :global(.mantine-SegmentedControl-label) {
    font-weight: 600;
  }
}
