.pageIcon {
  object-fit: cover;
  flex: unset;
  box-shadow: var(--mantine-shadow-lg);
}

.pageTitle {
  line-height: 1.2;
  text-align: center;
}

.pageArrow {
  position: absolute;
  bottom: 0px;
  right: -70px;
  transform: scaleY(-1);
  width: 50px;

  @mixin dark {
    filter: invert(1);
  }
}

.joinCard {
  box-shadow: 0px 0px var(--mantine-spacing-md) 0px
    alpha(var(--mantine-color-primary-filled), 0.4);
}
