.list {
  display: flex;
  flex-direction: column;
  gap: 6px;

  :global(.mantine-List-itemWrapper) {
    margin-right: 22px;
  }
}

.opener {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: 38px;
  font-weight: 900;
  line-height: 1.2;
  text-align: center;
  text-wrap: balance;
}

.subtitle {
  text-align: center;
  max-width: 340px;
  font-weight: 500;
  color: var(--mantine-color-dimmed);
  margin-inline: auto;
}

.emphasis {
  color: light-dark(
    var(--mantine-color-primary-7),
    var(--mantine-color-primary-4)
  );
}

.howItWorksCard {
  @mixin larger-than $mantine-breakpoint-xs {
    padding: var(--mantine-spacing-lg);
  }
}
