.backButton {
  align-self: center;
  margin-bottom: var(--mantine-spacing-xs);

  @mixin hotwire-native {
    display: none;
  }
}

.spaceIcon {
  align-self: center;
  object-fit: cover;
  flex: unset;
  box-shadow: var(--mantine-shadow-lg);
  cursor: copy;
}

.spaceName {
  line-height: var(--mantine-line-height-xs);

  @mixin hotwire-native {
    display: none;
  }
}

.notificationsRequiredIndicatorArrow {
  width: 100px;

  @mixin light {
    filter: invert(1);
  }
}

.notificationsRequiredIndicatorText {
  font-family: var(--font-family-cute);
  font-size: 24px;
  line-height: 1.1;
  max-width: 120px;
  text-align: right;
  position: relative;
  top: 8px;

  @mixin dark {
    color: var(--mantine-color-white);
  }
}
