.pageTitle {
  text-align: center;

  @mixin dark {
    color: var(--mantine-color-white);
  }
}

.worldPageIcon {
  object-fit: cover;
  flex: unset;
  box-shadow: var(--mantine-shadow-md);
  transition-property: transform, box-shadow;
  transition-duration: 200ms;
  transition-timing-function: ease;

  &:hover {
    transform: scale(1.07);
    box-shadow: var(--mantine-shadow-lg);
  }
}

.worldAnchor {
  flex-shrink: 0;

  &:not([data-joined]) {
    color: var(--mantine-color-bright);
  }
}

.worldSkeleton {
  flex-shrink: 0;
  margin-inline: 8px;
}

.postCountIndicator {
  :global(.mantine-Indicator-indicator) {
    font-weight: 600;
    font-family: var(--mantine-font-family-headings);
    min-height: var(--indicator-size);
    padding-inline: 4px;
    z-index: 99;
  }
}

.dividerText {
  margin-right: 6px;

  @mixin dark {
    color: alpha(var(--mantine-color-white), 0.8);
  }
}

.dividerEmoji {
  @mixin dark-user-theme {
    color: var(--mantine-color-white);
  }
}

.notificationsRequiredIndicatorArrow {
  width: 80px;

  @mixin light {
    filter: invert(1);
  }
}

.notificationsRequiredIndicatorText {
  font-family: "Single Day", Manrope, cursive;
  font-size: 24px;
  line-height: 1.1;
  max-width: 120px;
  text-align: right;
  position: relative;
  top: 8px;

  @mixin dark {
    color: var(--mantine-color-white);
  }
}

.scrollArea {
  :global(.mantine-ScrollArea-viewport) {
    padding-top: 6px;
    padding-bottom: var(--mantine-spacing-sm);
    padding-inline: 8px;

    @larger-than $mantine-breakpoint-xs {
      padding-inline: var(--mantine-spacing-md);
    }
  }

  :global(.mantine-ScrollArea-content) {
    display: flex;
    column-gap: var(--mantine-spacing-xs);
    align-items: flex-start;
    justify-content: center;
    width: fit-content;
  }
}
