.pageTitle {
  @mixin dark {
    color: var(--mantine-color-white);
  }
}

.worldPageIcon {
  width: var(--size);
  height: var(--size);
  object-fit: cover;
  flex: unset;
  box-shadow: var(--mantine-shadow-lg);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;

  &:hover {
    transform: scale(1.05) translateZ(10px);
    box-shadow: var(--mantine-shadow-xl);
  }
}

.worldAnchor {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.postCountIndicator {
  :global(.mantine-Indicator-indicator) {
    font-weight: 600;
    font-family: var(--mantine-font-family-headings);
    min-height: var(--indicator-size);
    padding-inline: 4px;
    z-index: 99;
  }
}
