.pageTitle {
  text-align: center;

  @mixin dark {
    color: var(--mantine-color-white);
  }
}

.worldPageIcon {
  object-fit: cover;
  flex: unset;
  box-shadow: var(--mantine-shadow-md);
  transition-property: transform, box-shadow;
  transition-duration: 200ms;
  transition-timing-function: ease;

  &:hover {
    transform: scale(1.07);
    box-shadow: var(--mantine-shadow-lg);
  }
}

.worldAnchor {
  &:not([data-joined]) {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  }
}

.postCountIndicator {
  :global(.mantine-Indicator-indicator) {
    font-weight: 600;
    font-family: var(--mantine-font-family-headings);
    min-height: var(--indicator-size);
    padding-inline: 4px;
    z-index: 99;
  }
}
