.pageTitle {
  text-align: center;
  line-height: var(--mantine-line-height-xs);
}

.pageIcon {
  align-self: center;
  object-fit: cover;
  flex: unset;
  box-shadow: var(--mantine-shadow-lg);
}

.installModal {
  :global(.mantine-Modal-header) {
    min-height: rem(40);
  }

  :global(.mantine-Modal-title) {
    line-height: var(--mantine-line-height-xs) !important;
  }
}

.notificationsRequiredIndicatorArrow {
  width: 100px;

  @mixin light {
    filter: invert(1);
  }
}

.notificationsRequiredIndicatorText {
  font-family: "Single Day", Manrope, cursive;
  font-size: 24px;
  line-height: 1.1;
  max-width: 140px;
  text-align: right;
  position: relative;
  top: 8px;

  @mixin dark {
    color: var(--mantine-color-white);
  }
}
