.installModal {
  :global(.mantine-Modal-header) {
    min-height: rem(40);
    line-height: var(--mantine-line-height-xs);
  }
}

.notificationsRequiredIndicatorArrow {
  margin-inline: auto;
  width: 160px;

  @mixin light {
    filter: invert(1);
  }
}
