.avatarGroup {
  :global(.mantine-Avatar-root) {
    box-shadow: var(--mantine-shadow-xs);
  }

  :global(.mantine-Avatar-placeholder) {
    background-color: transparent;
  }
}

.installInstructionsList {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);

  :global(.mantine-List-itemWrapper) {
    margin-right: 22px;
  }
}

.notificationsRequiredIndicatorArrow {
  margin-inline: auto;
  width: 160px;

  @mixin light {
    filter: invert(1);
  }
}

.enableNotificationsArrow {
  position: absolute;
  bottom: 22px;
  left: 26px;
  width: 60px;
  transform: rotate(-30deg);

  @mixin dark {
    filter: invert(1);
  }
}

.enableNotificationsText {
  font-family: "Single Day", Manrope, cursive;
  position: absolute;
  bottom: 100px;
  left: 24px;
  width: 80px;
  line-height: 1;
  transform: rotate(-28deg);
}

.menuButton {
  overflow: visible;
}

.menuIndicator {
  :global(.mantine-Indicator-indicator) {
    font-weight: 600;
    font-family: var(--mantine-font-family-headings);
    min-height: var(--indicator-size);
    padding-inline: 0px;
  }
}

.joinRequestMenuItem {
  :global(.mantine-Menu-itemSection) {
    &[data-position="right"] {
      width: var(--mantine-spacing-lg);
    }
  }
}
