.avatarGroup {
  :global(.mantine-Avatar-root) {
    box-shadow: var(--mantine-shadow-xs);
  }

  :global(.mantine-Avatar-placeholder) {
    background-color: transparent;
  }
}

.friendIcon {
  color: light-dark(
    var(--mantine-color-primary-filled),
    var(--mantine-color-white)
  );
}

.installInstructionsList {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);

  :global(.mantine-List-itemWrapper) {
    margin-right: 22px;
  }
}

.notificationsRequiredIndicatorArrow {
  margin-inline: auto;
  width: 160px;

  @mixin light {
    filter: invert(1);
  }
}

.menuButton {
  overflow: visible;
}

.menuIndicator {
  :global(.mantine-Indicator-indicator) {
    font-weight: 600;
    font-family: var(--mantine-font-family-headings);
    min-height: var(--indicator-size);
    padding-inline: 0px;
    z-index: 99;
  }
}

.joinRequestMenuItem {
  :global(.mantine-Menu-itemSection) {
    &[data-position="right"] {
      width: var(--mantine-spacing-lg);
    }
  }
}

.checkableListItem {
  &[data-checked] {
    text-decoration: line-through;

    :global(.mantine-Checkbox-icon) {
      &::after {
        content: "";
        width: var(--dot-size);
        height: var(--dot-size);
        background-color: var(--mantine-color-white);
        border-radius: var(--mantine-radius-md);
      }
    }
  }
}

.onboardingAlert {
  :global(.mantine-Alert-icon) {
    margin-right: var(--mantine-spacing-xs);
  }

  :global(.mantine-Alert-body) {
    row-gap: var(--mantine-spacing-xs);
  }
}
