test:
  service: Disk
  root: <%= Rails.root.join("tmp/storage") %>

test_fixtures:
  service: Disk
  root: <%= Rails.root.join("tmp/storage_fixtures") %>

local:
  service: Disk
  root: <%= Rails.root.join("storage") %>

# prettier-ignore
tigris:
  service: S3
  endpoint: <%= Rails.application.credentials.tigris!.endpoint if Rails.env.production? && Rails.application.credentials_available? %>
  access_key_id: <%= Rails.application.credentials.tigris!.access_key_id if Rails.env.production? && Rails.application.credentials_available? %>
  secret_access_key: <%= Rails.application.credentials.tigris!.secret_access_key if Rails.env.production? && Rails.application.credentials_available? %>
  bucket: <%= Rails.application.credentials.tigris!.bucket if Rails.env.production? && Rails.application.credentials_available? %>
  region: auto
