:root {
  --container-size-xs: 540px;
  --container-size-sm: 720px;
  --container-size-md: 960px;
  --container-size-lg: 1140px;
  --container-size-xl: 1320px;

  --modal-size-xs: 320px;
  --modal-size-sm: 380px;
  --modal-size-md: 440px;
  --modal-size-lg: 620px;
  --modal-size-xl: 780px;
}

body {
  --mantine-line-height: var(--mantine-line-height-xs);

  @mixin dark {
    --mantine-color-text: var(--mantine-color-white);
    --mantine-color-body: var(--mantine-color-dark-9);
    --mantine-color-default: var(--mantine-color-dark-8);
    --mantine-color-default-hover: var(--mantine-color-dark-7);
    --mantine-color-default-border: var(--mantine-color-dark-6);
  }

  @mixin dark-user-theme {
    @mixin clamp-lightness --mantine-color-body,
      var(--user-theme-background-color), 0, 15;

    --mantine-color-dimmed: alpha(var(--mantine-color-white), 0.6);
    --mantine-color-placeholder: alpha(var(--mantine-color-white), 0.4);
    --mantine-color-default: lighten(var(--mantine-color-body), 0.1);
    --mantine-color-default-hover: lighten(var(--mantine-color-body), 0.2);
    --mantine-color-default-border: lighten(var(--mantine-color-body), 0.3);
  }

  @mixin light-user-theme {
    @mixin clamp-lightness --mantine-color-body,
      var(--user-theme-background-color), 85, 100;

    --mantine-color-dimmed: alpha(var(--mantine-color-black), 0.5);
    --mantine-color-placeholder: alpha(var(--mantine-color-black), 0.4);
  }
}
