@layer components {
  .flash {
    display: flex;
    inset-block-start: var(--block-space);
    inset-inline-start: 50%;
    justify-content: center;
    position: fixed;
    transform: translate(-50%);
    z-index: var(--z-flash);
  }

  .flash__inner {
    animation: appear-then-fade 3s 300ms both;
    background-color: var(--color-neutral-900);
    border-radius: 4em;
    color: var(--color-white);
    display: inline-flex;
    font-size: var(--text-base);
    margin: 0 auto;
    padding: 0.7em 1.4em;
  }
}
