@layer base {
  :where(:focus-visible) {
    @apply ring-2 ring-focus-ring;

    outline: none;
  }
}

@layer components {
  .turbo-progress-bar {
    @apply bg-primary-300;
  }

  .header {
    @apply h-12 flex items-center px-2 sticky top-0;

    z-index: 100;

    &::before {
      @apply absolute inset-0 -bottom-2 backdrop-blur-xs;

      z-index: -1;
      content: "";
      background-image: linear-gradient(
        to top,
        transparent,
        --alpha(var(--color-white) / 80%)
      );
      mask: linear-gradient(to top, transparent, black --spacing(6));
    }
  }
}
